.header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 7px 0;
}

.header p {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 14px;
}

.logo {
    display: flex;
    cursor: pointer;
}
.inner-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo-img {
    margin-right: 10px;
}

.button-wrapper {
    display: flex;
    align-items: center;
}
