.header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 7px 0 ;
}

.header p {
    color:rgba(0, 132, 180, 1);
    font-weight: bold;
    font-size: 14px;
}
.logo {
    display: flex;

}
.inner-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

img {
    margin-right: 10px;
}